# Default values for nodejs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

ingress:
  enabled: false
  annotations: {}
  path: /
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 0.1
    memory: 100Mi

nodeSelector: {}

tolerations: []

affinity: {}

probes:
  enabled: true
  # port: 8899

prometheus:
  enabled: true
  path: /metrics
  # port: 8899

rabbitmq:
  enabled: false
  host:
    envName: RABBIT_HOST
    value: rabbitmq.default.svc.cluster.local
  username:
    envName: RABBIT_USERNAME
    value: user
  password:
    envName: RABBIT_PASSWORD

cloudsql:
  enabled: false
  credentials:
    usernameEnvName: DB_USER
    passwordEnvName: DB_PASSWORD
  proxy:
    resources:
      limits:
        cpu: 0.1
        memory: 32Mi
      requests:
        cpu: 0
        memory: 8Mi
